<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About SplurtySaa</h1>

    <p>
    SplurtySaa was built by <a target="_blank" href="https://github.com/saakuffo">Stephen</a>; A self proclaimed technology geek looking for interesting problems to solve and a way to use technology to solve those problems for people
  </p>
  <br />
  <p>
    The technological fabric of our world, the way in which our lifes is influenced by tech, has been exposed, waiting for curious minds to dive in and make it sing.

    Stephen has begun a journey to be one of the Maestros. 
  </p>

  <div class="col-xs-12 col-sm-4 img-manipulate-local">
    <%= image_tag 'steve.jpg', class: 'img-responsive img-manipulate-local' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Stephen Akuffo</h2>
      <br />
      <p>
        Stephen A. Akuffo works as a Pre-sales Solution Specialist at Dell Technologies. He has consulted with many small and medium size businesses to help them map IT infrastructure strategies and technology acquisition decisions.
      </p>
      <p>
        Stephen is certified on multiple Dell and VMware Technologies.
        He carries a VMware Certified Professional certification and is a vExpert 2016
      </p>
      <p>
        Currently learning to develop software to expand the kind of problems he can solve and to cultivate a bit of a creative edge. He hopes to blend his knowledge of infrastructure and backend software technologies in order to make cool things (that's a technical term).
      </p>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>
