<h2>
  <span>SplurtySaa</span>  <br/>
  Here's the <u>best unsolicited "Do You" advice</u> you can get!
</h2>

<h1>Please contribute your first quote!</h1>
<h2 class="pull-right">- Use the contribute button to get started!</h2>

<br class="clear" />
<br/>
<br/>
<br/>