@font-face {
    font-family: 'atmabold';
    src: url('/assets/atma-bold-webfont.woff2') format('woff2'),
         url('/assets/atma-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atmalight';
    src: url('/assets/atma-light-webfont.woff2') format('woff2'),
         url('/assets/atma-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atmamedium';
    src: url('/assets/atma-medium-webfont.woff2') format('woff2'),
         url('/assets/atma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atmaregular';
    src: url('/assets/atma-regular-webfont.woff2') format('woff2'),
         url('/assets/atma-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'atmasemibold';
    src: url('/assets/atma-semibold-webfont.woff2') format('woff2'),
         url('/assets/atma-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'kalambold';
    src: url('/assets/kalam-bold-webfont.woff2') format('woff2'),
         url('/assets/kalam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kalamlight';
    src: url('/assets/kalam-light-webfont.woff2') format('woff2'),
         url('/assets/kalam-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}