@font-face {
    font-family: 'alex_brushregular';
    src: url('/assets/alexbrush-regular-webfont.woff2') format('woff2'),
         url('/assets/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}